---
import Layout from '../layouts/Layout.astro'
import Showcase from '../components/Showcase.astro'
import Features from '../components/Features.astro'
import Tabs from '../components/Tabs.astro'
---

<!-- <Layout title="Hello Astro"> -->
<Layout>
  <Showcase showExtra={true} />
  <Features />

  <section class="page-content">
    <div class="container">
      <h2>Get Started with Astro</h2>
      <p>
        Get a new Astro project up and running locally with our helpful create-astro CLI wizard!
      </p>

      <Tabs headings={['NPM', 'PNPM', 'YARN']} contents = {['$ npm create astro@latest', '$ pnpm create astro@latest', '$ yarn create astro']}/>

      <h3>Start Building</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione ab ad ipsa quibusdam harum pariatur iste, blanditiis consequatur at dolores accusantium labore nisi nulla! Repellat dicta ad rem hic sed!
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione ab ad ipsa quibusdam harum pariatur iste, blanditiis consequatur at dolores accusantium labore nisi nulla! Repellat dicta ad rem hic sed!
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione ab ad ipsa quibusdam harum pariatur iste, blanditiis consequatur at dolores accusantium labore nisi nulla! Repellat dicta ad rem hic sed!
      </p>
    </div>
  </section> 

</Layout>
